@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
  }

:root{
    font-size: 16px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease;
}

body{
    background-image: radial-gradient(grey 1px, transparent 1px);
    background-size: 50px 50px;
    background-color: black;
}

li, a, p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: white;
}

h2{
    padding-top: 120px;
}



.desktop_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 30px 10%;
    color:white;
    background-color: black;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

h1{
    font-size: 2.5rem;
}

.desktop_nav, .burger_links{
    list-style: none;
}


.desktop_nav li{
    display: inline-block;
    padding: 0px 20px;
}

.desktop_nav li a{
    transition: all 0.3s ease 0s;
    color: white;
}

.desktop_nav li a:hover{
    transition: all 0.3s ease 0s;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.hamburger_nav {
    display: none; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    padding: 30px 10%;
    background-color: black;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.hamburger-icon svg{
    cursor: pointer;
    stroke: white;
}

.hamburger-icon svg:hover{
    transform: scale(1.25);
    cursor: pointer;
    stroke: white;
}

.close_icon svg{
    cursor: pointer;
    stroke: white;
}

.close_icon svg:hover{
    cursor: pointer;
    stroke: black;
    border-radius: 100px;
    background-color: white;
}

.burger_links {
    position: fixed;
    top: 0;
    right: -300px; 
    height: 110vh; 
    width: 300px; 
    background-color: black;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
    transition: right 0.3s ease;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
}

.burger_links.show {
    right: 0;
}

.burger_links a {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    font-size: 2rem;

}

.burger_links a:hover {
    color: black;
    background-color: white; 
}



.hamburger-icon svg {
    cursor: pointer;
    width: 100%;
}

.burger_links svg {
    cursor: pointer;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 20px;
}

.close_icon{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
#main{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 1.875rem;
}
#homepage{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#homepage .profile_pic, .home_content{
    margin: 0px 20px;
}

.bio{
    font-size: 1.5rem;
    width: 36rem;
    background-color: black;
    border: 1px white solid;
    border-radius: 15px;
    padding: 20px;
    margin: 0px auto 20px;
    transition: all 0.2s ease-in;
    text-align: center;
}

.bio:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}
.intro{
    padding-top:20px;
    padding-bottom:20px;
}
.cv_button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cv_button, .social_icons, .discord{
    padding: 10px;
}


.social_icons{
    margin-top: 20px;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;

}
.social_icons svg{
    fill: white;

}
.profile_pic img{
    width: 25rem;
    border-radius: 25px;
    border: 1px solid gray;
}

#intro1{
    font-weight: 400;
    color: white;
    font-size: 1.875rem;
}

#intro2{
    font-weight: 900;
    color: white;
    font-size: 4rem;
}

#intro3{
    font-weight: 900;
    color: white;
    font-size: 1.875rem;
}

#cv{
    background-color: black;
    color: white;
    padding: 15px 40px 15px 40px;
    border-radius: 15px;
    font-weight: 900;
    font-size: 1.25rem;
    cursor: pointer;
    border: 1px solid gray;
    transition: all 0.2s ease-in;

}
#cv:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);

}
.icon_link svg{
    width: 40px;
}

.social_icons a:hover{
    padding: 0px 20px 0px 20px;
    transition: all 0.3s ease;
}

.social_icons a{
    transition: all 0.3s ease;
}


.discord{
    display: flex;
    align-items: center;
}
.discord svg{
    width: 2.5rem;
    fill: white;
}

.discord p{
    padding-left: 5px;
    font-weight: 300;
}


h2{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 3.125rem;
}


.main_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.875rem;
}
.skill_group{
    width: 31.25rem;
    margin: 0.625rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}

.skill_group:hover{
    transform: scale(1.05);
}

.icon_name{
    display: flex;
    align-items: flex-end;
}
.icon_name img{
    width: 3.75rem;
    margin-right: 0.625rem;
}
.skill_info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 0.375rem;
}

.skill_bar{
    border: 1px solid white;
    border-radius: 25px;
}

.skill_bar span{
    border-radius: 25px;
    position: relative;
    display: block;
    height: 1.875rem;
    background-color: white;
    border-radius: 25px;
}
.bar_percentage_1{
    width: 50%;
}
.bar_percentage_2{
    width: 30%;
}
.bar_percentage_3{
    width: 20%;
}

.bar_percentage_4{
    width: 30%;
}

.bar_percentage_5{
    width: 50%;
}

.bar_percentage_6{
    width: 50%;
}

#Skills h3{
    margin-bottom: 1.875rem;
    text-align: center;
    font-size: 2.5rem;
}
.other_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.other_skills li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}

.other_skills li:hover{
    transform: scale(1.25);
}

.other_skills img{
    width: 40px;
    margin-right: 10px;
}




.projects_group{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.projects_container{
    width: 300px;
    height: 450px;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: 1px solid gray;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.projects_container h3{
    font-size: 14px;
}

.projects_container p{
    font-size: 10px;
}

.projects_container h3{
    font-size: 14px;
}

.projects_container:hover{
    transform: scale(1.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.project_buttons a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 8px;  
}

.project_buttons p{
    font-size: 12px;
    font-weight: 700;
}


#git_button{
    background-color: white;
    width: 120px;
}

#git_button p{
    color: black;
    transition: color;
}

#git_button:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}


.project_buttons img, svg{
    width: 15px;
    margin-right: 10px;
}

#project_img{
    width:100%;
    height: 40%;
    border-radius: 25px;
}

.project_background, .tech_used, .project_buttons{

    margin: 30px;
}

.demo_button p{
    color: white;
}
.demo_button svg{
    fill: white;
}


.demo_button{
    border: 1px white solid;
    width: 168px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo_button:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.tech_used li{
    list-style: none;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 2px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.project_background h3{
    margin-bottom: 10px;
}
.tech_used h3{
    margin-bottom: 10px;
}

.experience_main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.experience_main h3{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.experience_main h4{
    font-size: 2rem;
}

.experience_main p{
    font-size: 1rem;
}

.education, .act{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.educ_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px white solid;
    width: 18.75rem;
    height: 10rem;
    border-radius: 25px;
    margin: 0.9375rem;
    background-color: black;
    transition: all 0.3s ease; 
}

.act_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px white solid;
    width: 18.75rem;
    height: auto;
    border-radius: 25px;
    margin: 0.9375rem;
    background-color: black;
    transition: all 0.3s ease; 
}


.educ_container img{
    width: 100%;
   
}

.educ_container *{
    padding: 5px;
    text-align: center;
   
}

.educ_container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.act_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    height: 30re;
    border-radius: 25px;
}

.act_container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);

}

.act_container div{
    padding: 2.5rem;
}

.act_container h4{
    font-size: 2.5rem;
}

.act_container img{
    width: 25rem;
    border-radius: 10px;
}

.act_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}

.act_text p{
    font-size: 2rem;
}


#Contact{
    padding-bottom: 20px;
}
.contact_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.contact_form{
    width: 37.5rem;

}
form{
    width: auto;
    display: flex;
    flex-direction: column;
}

form textarea, input, button{
    margin: 5px 5px;
    resize: none; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-family: Arial, sans-serif; 
    font-size: 14px;
}

form textarea{
    height: 15.625rem;
}

form button{
    
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 900;
    transition: all 0.2s ease;
}

form button:hover{
    
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.contact_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0px 100px
}

.contact_socials h3{
    font-size: 3rem;
    margin-top: 1rem;
}

.contact_socials p{
    font-size: 16px;
    margin-top: 1rem;
}

.contact_info{
    display: flex;
    flex-direction: column;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    height: 5rem;
    border-top: 1px white solid;
}


